################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/XEL2OMS/.vs/XEL2OMS/v14
